@model WebVuiVN.Models.ViewModels.SearchResultViewModel
@{
    ViewData["Title"] = "Search results of " +   Model.Keyword + " - Page ";
  //  ViewData["MetaKeyword"] = "Search results of " + (Model.Data.Users.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.Users.CurrentPage);
  //  ViewData["MetaDescription"] = "Search results of " + (Model.Data.Users.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.Users.CurrentPage);
}
    <main class="main-content mt-4">
        <div class="search-result-page__tab-menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form asp-controller="Home" asp-action="Search">
                            <input type="hidden" name="keyword" value="@Model.Keyword" />
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-link__li">
                                    <button name="all" style="padding: 20px 0;color: rgba(108, 117, 125, 0.7);" class="btn btn-link active"  onchange="this.form.submit()" value="all">All</button>
                                </li>
                                <li class="nav-link__li">
                                    <button name="posts" style="padding: 20px 0;color: rgba(108, 117, 125, 0.7);" class="btn btn-link" onchange="this.form.submit()" value="posts">Posts</button>
                                </li>
                                <li class="nav-link__li">
                                    <button name="user" style="padding: 20px 0;color: rgba(108, 117, 125, 0.7);" class="btn btn-link" onchange="this.form.submit()" value="user">Peoble</button>
                                </li>
                                <li class="nav-link__li">
                                    <button name="photos" style="padding: 20px 0;color: rgba(108, 117, 125, 0.7);" class="btn btn-link" onchange="this.form.submit()" value="photos">Photos</button>
                                </li>
                                <li class="nav-link__li">
                                    <button name="pages" style="padding: 20px 0;color: rgba(108, 117, 125, 0.7);" class="btn btn-link" onchange="this.form.submit()" value="pages">Pages</button>
                                </li>
                                <li class="nav-link__li">
                                    <button name="groups" style="padding: 20px 0;color: rgba(108, 117, 125, 0.7);" class="btn btn-link" onchange="this.form.submit()" value="groups">Groups</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <!--row end-->
            </div>
            <!--container end-->
        </div>
        <!-- Breadcrumbs -->
        <div class="search-result-page__tab-content">
            <div class="container">
                <div class="row">
                    <!--search filter column-->
                    <div class="col-12 col-md-3">
                        <h3 class="fs-16 filter__mobile-trigger" id="filter__mobile-trigger-js">Filter Results</h3>

                        <div class="all_filters">
                            <!--filter one-->
                            <div class="filter-wrap">
                                <h3 class="fs-16 text-uppercase mb-3">Posts From</h3>
                                <ul class="search-filter list-unstyled p-0 m-0">
                                    <li class="search-filter__item">
                                        <label for="checkbox-1">
                                            <input type="checkbox" class="checkbox" id="checkbox-1">
                                            <span class="filter__title">You</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-3">
                                            <input type="checkbox" class="checkbox" id="checkbox-3">
                                            <span class="filter__title">Your Friends</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-4">
                                            <input type="checkbox" class="checkbox" id="checkbox-4">
                                            <span class="filter__title">Your groups or pages</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-5">
                                            <input type="checkbox" class="checkbox" id="checkbox-5">
                                            <span class="filter__title">Public</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!--filter one end-->
                            <!--filter two-->
                            <div class="filter-wrap">
                                <h3 class="fs-16 text-uppercase mb-3">Post Type</h3>
                                <ul class="search-filter list-unstyled p-0 m-0">
                                    <li class="search-filter__item">
                                        <label for="checkbox-6">
                                            <input type="checkbox" class="checkbox" id="checkbox-6">
                                            <span class="filter__title">All Posts</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-7">
                                            <input type="checkbox" class="checkbox" id="checkbox-7">
                                            <span class="filter__title">You Liked</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-8">
                                            <input type="checkbox" class="checkbox" id="checkbox-8">
                                            <span class="filter__title">You Commented</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!--filter two end-->
                            <!--filter three-->
                            <div class="filter-wrap">
                                <h3 class="fs-16 text-uppercase mb-3">Date</h3>
                                <ul class="search-filter list-unstyled p-0 m-0">
                                    <li class="search-filter__item">
                                        <label for="checkbox-9">
                                            <input type="checkbox" class="checkbox" id="checkbox-9">
                                            <span class="filter__title">This Week</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-11">
                                            <input type="checkbox" class="checkbox" id="checkbox-11">
                                            <span class="filter__title">This Month</span>
                                        </label>
                                    </li>
                                    <li class="search-filter__item">
                                        <label for="checkbox-22">
                                            <input type="checkbox" class="checkbox" id="checkbox-22">
                                            <span class="filter__title">This year</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!--filter three end-->
                        </div>
                    </div>
                    <!--search results column-->
                    <div class="col-12 col-md-9">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                @if (ViewData["DataSearch"] == "user")
                                {@foreach (var item in Model.Data.Users.Results)
                                    {
                                        <!--search result start: result type -> group 1-->
                                        <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                            <!--postmeta-->
                                            <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                                <div class="uf__post__author-img">
                                                    <img src="~/Socialnetwork/img/img-pp.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <div class="uf__post__author-title h5">
                                                        <form asp-controller="Profile" asp-action="Index" class="text-dark h5" method="get">
                                                            <button name="email" class="btn btn-link" onchange="this.form.submit()" value="@item.Email">@item.FullName</button>
                                                        </form>

                                                    </div>
                                                    <div class="fs-14 text-muted">
                                                        <div class="search-result__item__type">
                                                            <span>Status</span>
                                                            <span> - </span>
                                                            <span class=""> @item.Status</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ctA ml-auto">
                                                    <a href="#" class="btn btn-light">
                                                        <span class="icon mr-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"><path id="plus" d="M31,978.362a.208.208,0,0,0-.208.208v4.583H26.208a.208.208,0,1,0,0,.417h4.583v4.583a.208.208,0,0,0,.417,0V983.57h4.583a.208.208,0,1,0,0-.417H31.208V978.57A.208.208,0,0,0,31,978.362Z" transform="translate(-25.5 -977.862)" fill="#3d3d3d" stroke="#3d3d3d" stroke-width="1" /></svg>
                                                        </span>
                                                        Add Friend
                                                    </a>
                                                </div>

                                            </div>
                                            <!--post element: text-->
                                            <div class="uf__post__text uf__post__elem">
                                                <p class="mb-1">Email <a href="#">@item.Email</a></p>
                                                <p class="mb-0">PhoneNumber <a href="#">@item.PhoneNumber</a></p>
                                            </div>
                                            <div class="uf__post__text uf__post__elem">
                                                <form asp-controller="Profile" asp-action="Index"  method="get">
                                                    <button name="email" class="btn btn-link" onchange="this.form.submit()" value="@item.Email">Visit Profile</button>
                                                    <span class="icon ml-2"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><title>share</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.8811" stroke="#000" fill="#000" d="M1.842 31.059c-0.002 0-0.004 0-0.006 0-0.406 0-0.74-0.307-0.782-0.702l-0-0.003c-0.201-2.304-0.448-10.269 4.819-15.843 3.352-3.55 8.277-5.408 14.637-5.517v-7.308c0.002-0.288 0.172-0.536 0.417-0.651l0.004-0.002c0.094-0.046 0.206-0.073 0.323-0.073 0.176 0 0.339 0.061 0.467 0.162l-0.002-0.001 16.793 13.612c0.163 0.131 0.266 0.331 0.266 0.555s-0.103 0.424-0.265 0.554l-0.001 0.001-16.778 13.601c-0.13 0.11-0.299 0.176-0.484 0.176-0.116 0-0.226-0.026-0.324-0.073l0.005 0.002c-0.254-0.116-0.427-0.367-0.427-0.659 0-0.004 0-0.007 0-0.011v0.001-7.44c0-0 0-0 0-0.001 0-0.044-0.033-0.080-0.075-0.086l-0-0c-2.242-0.393-10.183-0.882-17.946 9.368-0.145 0.203-0.379 0.334-0.643 0.337h-0zM21.582 10.030c-0.115 0.111-0.271 0.179-0.443 0.179-0.002 0-0.003 0-0.004 0h0c-6.302 0-11.121 1.723-14.334 5.132-2.861 3.364-4.6 7.757-4.6 12.558 0 0.398 0.012 0.793 0.036 1.185l-0.003-0.054c7.957-9.81 16.067-9.295 18.418-8.877 0.631 0.1 1.108 0.637 1.116 1.286v6.383l15.463-12.538-15.463-12.532v6.842c0 0.001 0 0.001 0 0.002 0 0.17-0.071 0.324-0.184 0.434l-0 0z"></path></svg></span>
                                                </form>
                                            </div>
                                        </div>
                                        <!--search result 1-->
                                        <!--search result start: result type -> post 1-->
                                        <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                            <!--postmeta-->
                                            <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                                <div class="uf__post__author-img">
                                                    <img src="~/Socialnetwork/img/img-pp.png" alt="" class="img-fluid">
                                                </div>

                                                <div class="ml-3">
                                                    <div class="uf__post__author-title h5">
                                                        <a href="#" class="text-dark h5">Robin Sons</a>
                                                    </div>
                                                    <div class="fs-14 text-muted">
                                                        <div class="search-result__item__type">
                                                            <span>Page</span>
                                                            <span> - </span>
                                                            <span class=""> 38k Likes</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ctA ml-auto">
                                                    <a href="#" class="btn btn-light">
                                                        <span class="icon icon--like mr-1">
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 32"><title>like</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.7691" stroke="#000" fill="#000" d="M3.054 13.736h6.832c1.197 0.003 2.167 0.973 2.169 2.171v12.915c-0.003 1.197-0.972 2.166-2.169 2.169h-6.833c-1.198-0.003-2.168-0.974-2.169-2.172v-12.915c0.004-1.196 0.973-2.164 2.169-2.167h0zM9.884 14.797h-6.831c-0.611 0.003-1.106 0.498-1.109 1.109v12.915c0.003 0.611 0.498 1.106 1.109 1.109h6.833c0.611-0.003 1.106-0.498 1.109-1.109v-12.915c-0.003-0.611-0.498-1.106-1.109-1.109h-0z"></path><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.7691" stroke="#000" fill="#000" d="M11.199 14.871c-0.151 0.095-0.25 0.261-0.25 0.45 0 0.293 0.238 0.531 0.531 0.531 0.062 0 0.122-0.011 0.177-0.030l-0.004 0.001c0.023-0.011 7.276-3.37 6.215-13.746 1.467-0.267 6.165-0.373 4.129 9.944v0c-0.006 0.030-0.010 0.065-0.010 0.1 0 0.293 0.238 0.531 0.531 0.531 0.039 0 0.077-0.004 0.114-0.012l-0.003 0.001c0.872-0.111 14.523-1.769 10.153 4.934v0c-0.054 0.082-0.086 0.182-0.086 0.289 0 0.138 0.053 0.264 0.139 0.358l-0-0c0.393 0.393 0.636 0.936 0.636 1.535 0 0.896-0.542 1.665-1.317 1.997l-0.014 0.005c-0.178 0.088-0.297 0.269-0.297 0.477 0 0.067 0.012 0.131 0.035 0.19l-0.001-0.004c0.073 0.216 0.863 2.728-0.996 3.524v0c-0.19 0.084-0.32 0.27-0.32 0.487 0 0.015 0.001 0.030 0.002 0.046l-0-0.002c0 0.437-0.119 3.943-3.085 3.538v0c-0.012-0.001-0.026-0.002-0.041-0.002s-0.029 0.001-0.043 0.002l0.002-0h-12.888l-2.742-1.511c-0.082-0.055-0.184-0.088-0.293-0.088-0.293 0-0.531 0.238-0.531 0.531 0 0.215 0.128 0.4 0.311 0.483l0.003 0.001 2.831 1.557c0.080 0.051 0.178 0.081 0.282 0.081 0 0 0 0 0.001 0h13.003c3.655 0.463 4.152-3.163 4.219-4.308 0.972-0.675 1.6-1.785 1.6-3.042 0-0.439-0.077-0.86-0.217-1.251l0.008 0.026c0.962-0.521 1.604-1.522 1.604-2.674 0-0.758-0.278-1.451-0.739-1.983l0.003 0.004c4.54-7.423-7.561-6.641-10.693-6.325 2.238-12.662-5.467-10.523-5.997-10.36-0.233 0.060-0.402 0.268-0.402 0.515 0 0.022 0.001 0.045 0.004 0.066l-0-0.003c1.238 9.985-5.539 13.125-5.559 13.134z"></path></svg>
                                                        </span>
                                                        Like
                                                    </a>
                                                </div>

                                            </div>
                                            <!--post element: text-->
                                            <div class="uf__post__text uf__post__elem">
                                                <p class="mb-0">
                                                    Designers might be great at designing beautiful work, but if they don’t have sufficient knowledge about design and how it works with people, their work won’t have the impact they want.
                                                    Books can be a great resource for the knowledge.
                                                </p>
                                            </div>
                                            <div class="uf__post__text uf__post__elem">
                                                <a href="#" class="btn btn-light d-inline-flex justify-content-between align-items-center">
                                                    <span>Visit Page</span>
                                                    <span class="icon ml-2"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><title>share</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.8811" stroke="#000" fill="#000" d="M1.842 31.059c-0.002 0-0.004 0-0.006 0-0.406 0-0.74-0.307-0.782-0.702l-0-0.003c-0.201-2.304-0.448-10.269 4.819-15.843 3.352-3.55 8.277-5.408 14.637-5.517v-7.308c0.002-0.288 0.172-0.536 0.417-0.651l0.004-0.002c0.094-0.046 0.206-0.073 0.323-0.073 0.176 0 0.339 0.061 0.467 0.162l-0.002-0.001 16.793 13.612c0.163 0.131 0.266 0.331 0.266 0.555s-0.103 0.424-0.265 0.554l-0.001 0.001-16.778 13.601c-0.13 0.11-0.299 0.176-0.484 0.176-0.116 0-0.226-0.026-0.324-0.073l0.005 0.002c-0.254-0.116-0.427-0.367-0.427-0.659 0-0.004 0-0.007 0-0.011v0.001-7.44c0-0 0-0 0-0.001 0-0.044-0.033-0.080-0.075-0.086l-0-0c-2.242-0.393-10.183-0.882-17.946 9.368-0.145 0.203-0.379 0.334-0.643 0.337h-0zM21.582 10.030c-0.115 0.111-0.271 0.179-0.443 0.179-0.002 0-0.003 0-0.004 0h0c-6.302 0-11.121 1.723-14.334 5.132-2.861 3.364-4.6 7.757-4.6 12.558 0 0.398 0.012 0.793 0.036 1.185l-0.003-0.054c7.957-9.81 16.067-9.295 18.418-8.877 0.631 0.1 1.108 0.637 1.116 1.286v6.383l15.463-12.538-15.463-12.532v6.842c0 0.001 0 0.001 0 0.002 0 0.17-0.071 0.324-0.184 0.434l-0 0z"></path></svg></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--search result 1-->
                                        <!--search result start: result type -> people 1-->
                                       
                                        <!--search result 1-->
                                        <!--search result start: result type -> post 1-->
                                        <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                            <!--postmeta-->
                                            <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                                <div class="uf__post__author-img">
                                                    <img src="img/img-pp.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <div class="uf__post__author-title h5">
                                                        <a href="#" class="text-dark h5">Robin Sons</a>
                                                        <span class="varified-badge ml-3" data-isVarified="false">
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34" height="32" viewBox="0 0 34 32"><title>checkmark</title><path d="M15.68 21c-0.003 0-0.006 0-0.010 0-0.275 0-0.528-0.093-0.731-0.248l0.003 0.002c-0.233-0.17-0.383-0.443-0.383-0.75 0-0.259 0.106-0.493 0.277-0.661l0-0 7.84-8c0.218-0.212 0.516-0.343 0.845-0.343 0.278 0 0.534 0.093 0.738 0.251l-0.003-0.002c0.233 0.171 0.382 0.443 0.382 0.75 0 0.259-0.106 0.492-0.276 0.661l-0 0-7.84 8c-0.214 0.211-0.507 0.341-0.831 0.341-0.004 0-0.008-0-0.013-0h0.001z"></path><path d="M15.682 21c-0.005 0-0.012 0-0.019 0-0.3 0-0.574-0.111-0.783-0.294l0.001 0.001-4.48-4c-0.202-0.171-0.329-0.424-0.329-0.707s0.127-0.536 0.328-0.706l0.001-0.001c0.211-0.182 0.489-0.293 0.792-0.293s0.581 0.111 0.794 0.295l-0.002-0.001 4.48 4c0.202 0.171 0.329 0.424 0.329 0.707s-0.127 0.536-0.328 0.706l-0.001 0.001c-0.208 0.182-0.482 0.293-0.781 0.293-0.001 0-0.002 0-0.003 0h0z"></path><path d="M16.803 32c-0.020 0-0.044 0.001-0.068 0.001-1.454 0-2.734-0.75-3.472-1.884l-0.010-0.016c-0.035-0.043-0.068-0.090-0.097-0.14l-0.003-0.005c-0.222-0.4-0.568-0.901-0.96-1.013-0.075-0.009-0.161-0.014-0.249-0.014-0.419 0-0.81 0.118-1.143 0.322l0.009-0.005c-0.051 0.025-0.113 0.048-0.176 0.065l-0.008 0.002c-0.5 0.215-1.082 0.34-1.694 0.34-0.895 0-1.727-0.268-2.422-0.728l0.016 0.010c-1.004-0.643-1.66-1.753-1.66-3.016 0-0.142 0.008-0.282 0.024-0.419l-0.002 0.017c-0-0.004-0-0.008-0-0.013 0-0.052 0.005-0.103 0.014-0.153l-0.001 0.005c0.226-1.306-0.061-1.674-1.459-1.875-0.075-0.011-0.14-0.027-0.204-0.047l0.009 0.002c-1.408-0.238-2.547-1.192-3.044-2.467l-0.009-0.027c-0.122-0.34-0.193-0.732-0.193-1.14 0-0.978 0.405-1.862 1.058-2.492l0.001-0.001c0.038-0.050 0.078-0.095 0.122-0.135l0.001-0.001c1.010-0.926 1.010-1.406 0-2.331-0.046-0.041-0.087-0.086-0.123-0.135l-0.002-0.002c-0.652-0.631-1.057-1.514-1.057-2.492 0-0.409 0.071-0.801 0.201-1.164l-0.008 0.024c0.507-1.303 1.647-2.256 3.033-2.49l0.023-0.003c0.055-0.018 0.119-0.033 0.186-0.043l0.006-0.001c1.397-0.203 1.683-0.571 1.459-1.877-0.007-0.046-0.011-0.1-0.011-0.155 0-0.005 0-0.010 0-0.016v0.001c-0.015-0.122-0.023-0.264-0.023-0.407 0-1.263 0.656-2.373 1.646-3.008l0.014-0.009c0.678-0.45 1.511-0.717 2.406-0.717 0.614 0 1.199 0.126 1.73 0.354l-0.029-0.011c0.070 0.020 0.129 0.043 0.186 0.069l-0.008-0.003c0.323 0.199 0.715 0.317 1.133 0.317 0.088 0 0.174-0.005 0.259-0.015l-0.010 0.001c0.386-0.112 0.733-0.613 0.96-1.013 0.032-0.056 0.064-0.104 0.101-0.149l-0.002 0.002c0.776-1.151 2.076-1.898 3.549-1.898 1.477 0 2.779 0.751 3.545 1.891l0.010 0.015c0.033 0.041 0.065 0.086 0.092 0.134l0.003 0.005c0.222 0.4 0.57 0.901 0.96 1.013 0.074 0.009 0.161 0.014 0.248 0.014 0.419 0 0.811-0.118 1.144-0.322l-0.010 0.005c0.050-0.024 0.11-0.047 0.173-0.065l0.008-0.002c0.502-0.216 1.086-0.342 1.7-0.342 0.895 0 1.727 0.267 2.421 0.727l-0.016-0.010c1.004 0.645 1.659 1.755 1.659 3.019 0 0.14-0.008 0.278-0.024 0.414l0.002-0.017c0 0.006 0 0.012 0 0.019 0 0.053-0.005 0.105-0.014 0.156l0.001-0.005c-0.226 1.306 0.061 1.674 1.459 1.877 0.074 0.011 0.14 0.026 0.204 0.046l-0.009-0.002c1.408 0.237 2.548 1.191 3.045 2.466l0.009 0.027c0.122 0.34 0.193 0.732 0.193 1.141 0 0.98-0.406 1.864-1.059 2.495l-0.001 0.001c-0.038 0.050-0.078 0.094-0.121 0.134l-0.001 0.001c-1.008 0.926-1.008 1.406 0 2.333 0.045 0.042 0.086 0.086 0.123 0.134l0.002 0.002c0.652 0.631 1.057 1.515 1.057 2.493 0 0.409-0.071 0.801-0.201 1.165l0.008-0.024c-0.506 1.304-1.647 2.258-3.033 2.491l-0.023 0.003c-0.055 0.019-0.119 0.035-0.186 0.044l-0.006 0.001c-1.397 0.202-1.683 0.57-1.458 1.875 0.008 0.046 0.013 0.099 0.013 0.154 0 0.007-0 0.015-0 0.022l0-0.001c0.014 0.119 0.022 0.257 0.022 0.397 0 1.262-0.655 2.372-1.645 3.006l-0.014 0.009c-0.678 0.451-1.511 0.719-2.407 0.719-0.613 0-1.196-0.126-1.726-0.353l0.029 0.011c-0.071-0.021-0.131-0.043-0.189-0.070l0.008 0.003c-0.324-0.199-0.716-0.316-1.136-0.316-0.087 0-0.173 0.005-0.257 0.015l0.010-0.001c-0.387 0.11-0.733 0.611-0.96 1.013-0.030 0.054-0.061 0.101-0.096 0.144l0.001-0.002c-0.749 1.152-2.030 1.903-3.487 1.903-0.026 0-0.052-0-0.077-0.001l0.004 0zM15.075 28.917c0.033 0.041 0.063 0.086 0.090 0.134l0.003 0.005c0.332 0.568 0.94 0.944 1.635 0.944s1.303-0.376 1.63-0.935l0.005-0.009c0.029-0.052 0.059-0.096 0.093-0.138l-0.001 0.002c0.455-0.886 1.224-1.556 2.156-1.872l0.027-0.008c0.299-0.075 0.643-0.119 0.996-0.119 0.71 0 1.38 0.175 1.968 0.483l-0.023-0.011c0.067 0.020 0.124 0.042 0.178 0.069l-0.007-0.003c0.246 0.12 0.535 0.19 0.84 0.19 0.396 0 0.765-0.118 1.073-0.321l-0.007 0.005c0.462-0.3 0.763-0.813 0.763-1.397 0-0.102-0.009-0.202-0.027-0.299l0.002 0.010c-0.008-0.044-0.013-0.095-0.013-0.146 0-0.005 0-0.010 0-0.014v0.001c-0.32-2.214 0.738-3.542 3.147-3.952 0.051-0.016 0.112-0.030 0.174-0.039l0.006-0.001c0.682-0.082 1.242-0.533 1.479-1.144l0.004-0.012c0.056-0.158 0.089-0.341 0.089-0.532 0-0.495-0.22-0.938-0.567-1.238l-0.002-0.002c-0.043-0.039-0.082-0.082-0.117-0.127l-0.002-0.002c-0.763-0.549-1.254-1.434-1.254-2.434s0.491-1.885 1.245-2.428l0.009-0.006c0.036-0.047 0.074-0.088 0.116-0.126l0.001-0.001c0.349-0.302 0.569-0.746 0.569-1.241 0-0.191-0.033-0.374-0.093-0.544l0.004 0.011c-0.241-0.623-0.8-1.074-1.473-1.154l-0.009-0.001c-0.071-0.010-0.134-0.025-0.194-0.044l0.009 0.002c-2.4-0.41-3.464-1.739-3.144-3.955 0-0 0-0.001 0-0.001 0-0.056 0.005-0.111 0.014-0.164l-0.001 0.006c0.016-0.087 0.025-0.186 0.025-0.288 0-0.584-0.301-1.098-0.756-1.394l-0.006-0.004c-0.3-0.198-0.668-0.316-1.064-0.316-0.306 0-0.596 0.071-0.853 0.196l0.012-0.005c-0.047 0.023-0.104 0.045-0.163 0.063l-0.009 0.002c-0.566 0.297-1.236 0.471-1.947 0.471-0.353 0-0.695-0.043-1.023-0.124l0.029 0.006c-0.961-0.322-1.732-0.993-2.177-1.859l-0.010-0.021c-0.031-0.039-0.060-0.082-0.085-0.128l-0.003-0.005c-0.332-0.568-0.94-0.944-1.635-0.944s-1.303 0.376-1.63 0.935l-0.005 0.009c-0.030 0.054-0.062 0.1-0.096 0.143l0.002-0.002c-0.458 0.88-1.226 1.546-2.156 1.859l-0.027 0.008c-0.298 0.075-0.641 0.117-0.993 0.117-0.712 0-1.383-0.175-1.973-0.484l0.023 0.011c-0.067-0.020-0.123-0.042-0.178-0.067l0.008 0.003c-0.246-0.12-0.536-0.191-0.841-0.191-0.396 0-0.764 0.118-1.072 0.32l0.007-0.005c-0.462 0.301-0.763 0.815-0.763 1.399 0 0.102 0.009 0.201 0.027 0.298l-0.002-0.010c0.008 0.047 0.013 0.101 0.013 0.156 0 0.001 0 0.003 0 0.004v-0c0.32 2.218-0.742 3.549-3.142 3.958-0.051 0.017-0.114 0.031-0.177 0.041l-0.007 0.001c-0.682 0.082-1.242 0.533-1.479 1.144l-0.004 0.012c-0.056 0.158-0.089 0.341-0.089 0.532 0 0.495 0.22 0.938 0.567 1.238l0.002 0.002c0.044 0.040 0.084 0.083 0.12 0.129l0.002 0.002c0.762 0.549 1.253 1.434 1.253 2.433s-0.49 1.884-1.244 2.427l-0.009 0.006c-0.036 0.048-0.075 0.091-0.118 0.129l-0.001 0.001c-0.349 0.302-0.569 0.745-0.569 1.24 0 0.19 0.032 0.373 0.092 0.543l-0.003-0.011c0.241 0.624 0.801 1.075 1.475 1.156l0.009 0.001c0.070 0.010 0.132 0.024 0.192 0.044l-0.008-0.002c2.4 0.41 3.466 1.739 3.142 3.957 0 0.003 0 0.007 0 0.011 0 0.052-0.005 0.104-0.014 0.154l0.001-0.005c-0.016 0.087-0.025 0.186-0.025 0.288 0 0.584 0.301 1.098 0.756 1.394l0.006 0.004c0.3 0.198 0.668 0.317 1.064 0.317 0.306 0 0.596-0.071 0.854-0.197l-0.011 0.005c0.048-0.023 0.106-0.046 0.166-0.063l0.009-0.002c0.566-0.299 1.237-0.474 1.949-0.474 0.349 0 0.689 0.042 1.013 0.122l-0.029-0.006c0.959 0.323 1.728 0.992 2.174 1.856l0.010 0.021z"></path></svg>
                                                        </span>
                                                    </div>
                                                    <div class="uf__post__date fs-14">Posted On <span class="uf__post__date-wrap">Mar 22, 2019</span></div>
                                                </div>
                                            </div>
                                            <!--post element: text-->
                                            <div class="uf__post__text uf__post__elem">
                                                <p>
                                                    Designers might be great at designing beautiful work, but if they don’t have sufficient knowledge about design and how it works with people, their work won’t have the impact they want.
                                                    Books can be a great resource for the knowledge.
                                                </p>

                                                <p>This is my desk with some of my favorite books 😍</p>

                                                <p>Books are:</p>
                                            </div>
                                            <!--post element: image-->
                                            <div class="uf__post__image uf__post__elem" data-image-count="even" data-gallery="2">
                                                <a href="img/post-img.png">
                                                    <img src="img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                                </a>
                                                <a href="img/post-img.png">
                                                    <img src="img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                                </a>

                                                <div class="ctA mt-3">
                                                    <a href="#" class="btn btn-light">View Post</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--feed post end 1-->
                                        <!--search result start: result type -> people 1-->
                                        <div class="search-result__item p-4 mt-4 mb-5 text-center">
                                            <div class="ctA">
                                                <a href="#" class="btn btn-light">
                                                    Load More
                                                </a>
                                            </div>
                                        </div>
                                        <!--search result 1-->
                                    }
                            }
                            else if (ViewData["DataSearch"] == "posts")
                            {
                                @foreach (var item in Model.Data.Posts.Results)
                                {
                                    <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                        <!--postmeta-->
                                        <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                            <div class="uf__post__author-img">
                                                <img src="~/Socialnetwork/img/img-pp.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="ml-3">
                                                <div class="uf__post__author-title h5">
                                                    <a href="#" class="text-dark h5">@item.Name</a>
                                                    <span class="varified-badge ml-3" data-isVarified="false">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34" height="32" viewBox="0 0 34 32"><title>checkmark</title><path d="M15.68 21c-0.003 0-0.006 0-0.010 0-0.275 0-0.528-0.093-0.731-0.248l0.003 0.002c-0.233-0.17-0.383-0.443-0.383-0.75 0-0.259 0.106-0.493 0.277-0.661l0-0 7.84-8c0.218-0.212 0.516-0.343 0.845-0.343 0.278 0 0.534 0.093 0.738 0.251l-0.003-0.002c0.233 0.171 0.382 0.443 0.382 0.75 0 0.259-0.106 0.492-0.276 0.661l-0 0-7.84 8c-0.214 0.211-0.507 0.341-0.831 0.341-0.004 0-0.008-0-0.013-0h0.001z"></path><path d="M15.682 21c-0.005 0-0.012 0-0.019 0-0.3 0-0.574-0.111-0.783-0.294l0.001 0.001-4.48-4c-0.202-0.171-0.329-0.424-0.329-0.707s0.127-0.536 0.328-0.706l0.001-0.001c0.211-0.182 0.489-0.293 0.792-0.293s0.581 0.111 0.794 0.295l-0.002-0.001 4.48 4c0.202 0.171 0.329 0.424 0.329 0.707s-0.127 0.536-0.328 0.706l-0.001 0.001c-0.208 0.182-0.482 0.293-0.781 0.293-0.001 0-0.002 0-0.003 0h0z"></path><path d="M16.803 32c-0.020 0-0.044 0.001-0.068 0.001-1.454 0-2.734-0.75-3.472-1.884l-0.010-0.016c-0.035-0.043-0.068-0.090-0.097-0.14l-0.003-0.005c-0.222-0.4-0.568-0.901-0.96-1.013-0.075-0.009-0.161-0.014-0.249-0.014-0.419 0-0.81 0.118-1.143 0.322l0.009-0.005c-0.051 0.025-0.113 0.048-0.176 0.065l-0.008 0.002c-0.5 0.215-1.082 0.34-1.694 0.34-0.895 0-1.727-0.268-2.422-0.728l0.016 0.010c-1.004-0.643-1.66-1.753-1.66-3.016 0-0.142 0.008-0.282 0.024-0.419l-0.002 0.017c-0-0.004-0-0.008-0-0.013 0-0.052 0.005-0.103 0.014-0.153l-0.001 0.005c0.226-1.306-0.061-1.674-1.459-1.875-0.075-0.011-0.14-0.027-0.204-0.047l0.009 0.002c-1.408-0.238-2.547-1.192-3.044-2.467l-0.009-0.027c-0.122-0.34-0.193-0.732-0.193-1.14 0-0.978 0.405-1.862 1.058-2.492l0.001-0.001c0.038-0.050 0.078-0.095 0.122-0.135l0.001-0.001c1.010-0.926 1.010-1.406 0-2.331-0.046-0.041-0.087-0.086-0.123-0.135l-0.002-0.002c-0.652-0.631-1.057-1.514-1.057-2.492 0-0.409 0.071-0.801 0.201-1.164l-0.008 0.024c0.507-1.303 1.647-2.256 3.033-2.49l0.023-0.003c0.055-0.018 0.119-0.033 0.186-0.043l0.006-0.001c1.397-0.203 1.683-0.571 1.459-1.877-0.007-0.046-0.011-0.1-0.011-0.155 0-0.005 0-0.010 0-0.016v0.001c-0.015-0.122-0.023-0.264-0.023-0.407 0-1.263 0.656-2.373 1.646-3.008l0.014-0.009c0.678-0.45 1.511-0.717 2.406-0.717 0.614 0 1.199 0.126 1.73 0.354l-0.029-0.011c0.070 0.020 0.129 0.043 0.186 0.069l-0.008-0.003c0.323 0.199 0.715 0.317 1.133 0.317 0.088 0 0.174-0.005 0.259-0.015l-0.010 0.001c0.386-0.112 0.733-0.613 0.96-1.013 0.032-0.056 0.064-0.104 0.101-0.149l-0.002 0.002c0.776-1.151 2.076-1.898 3.549-1.898 1.477 0 2.779 0.751 3.545 1.891l0.010 0.015c0.033 0.041 0.065 0.086 0.092 0.134l0.003 0.005c0.222 0.4 0.57 0.901 0.96 1.013 0.074 0.009 0.161 0.014 0.248 0.014 0.419 0 0.811-0.118 1.144-0.322l-0.010 0.005c0.050-0.024 0.11-0.047 0.173-0.065l0.008-0.002c0.502-0.216 1.086-0.342 1.7-0.342 0.895 0 1.727 0.267 2.421 0.727l-0.016-0.010c1.004 0.645 1.659 1.755 1.659 3.019 0 0.14-0.008 0.278-0.024 0.414l0.002-0.017c0 0.006 0 0.012 0 0.019 0 0.053-0.005 0.105-0.014 0.156l0.001-0.005c-0.226 1.306 0.061 1.674 1.459 1.877 0.074 0.011 0.14 0.026 0.204 0.046l-0.009-0.002c1.408 0.237 2.548 1.191 3.045 2.466l0.009 0.027c0.122 0.34 0.193 0.732 0.193 1.141 0 0.98-0.406 1.864-1.059 2.495l-0.001 0.001c-0.038 0.050-0.078 0.094-0.121 0.134l-0.001 0.001c-1.008 0.926-1.008 1.406 0 2.333 0.045 0.042 0.086 0.086 0.123 0.134l0.002 0.002c0.652 0.631 1.057 1.515 1.057 2.493 0 0.409-0.071 0.801-0.201 1.165l0.008-0.024c-0.506 1.304-1.647 2.258-3.033 2.491l-0.023 0.003c-0.055 0.019-0.119 0.035-0.186 0.044l-0.006 0.001c-1.397 0.202-1.683 0.57-1.458 1.875 0.008 0.046 0.013 0.099 0.013 0.154 0 0.007-0 0.015-0 0.022l0-0.001c0.014 0.119 0.022 0.257 0.022 0.397 0 1.262-0.655 2.372-1.645 3.006l-0.014 0.009c-0.678 0.451-1.511 0.719-2.407 0.719-0.613 0-1.196-0.126-1.726-0.353l0.029 0.011c-0.071-0.021-0.131-0.043-0.189-0.070l0.008 0.003c-0.324-0.199-0.716-0.316-1.136-0.316-0.087 0-0.173 0.005-0.257 0.015l0.010-0.001c-0.387 0.11-0.733 0.611-0.96 1.013-0.030 0.054-0.061 0.101-0.096 0.144l0.001-0.002c-0.749 1.152-2.030 1.903-3.487 1.903-0.026 0-0.052-0-0.077-0.001l0.004 0zM15.075 28.917c0.033 0.041 0.063 0.086 0.090 0.134l0.003 0.005c0.332 0.568 0.94 0.944 1.635 0.944s1.303-0.376 1.63-0.935l0.005-0.009c0.029-0.052 0.059-0.096 0.093-0.138l-0.001 0.002c0.455-0.886 1.224-1.556 2.156-1.872l0.027-0.008c0.299-0.075 0.643-0.119 0.996-0.119 0.71 0 1.38 0.175 1.968 0.483l-0.023-0.011c0.067 0.020 0.124 0.042 0.178 0.069l-0.007-0.003c0.246 0.12 0.535 0.19 0.84 0.19 0.396 0 0.765-0.118 1.073-0.321l-0.007 0.005c0.462-0.3 0.763-0.813 0.763-1.397 0-0.102-0.009-0.202-0.027-0.299l0.002 0.010c-0.008-0.044-0.013-0.095-0.013-0.146 0-0.005 0-0.010 0-0.014v0.001c-0.32-2.214 0.738-3.542 3.147-3.952 0.051-0.016 0.112-0.030 0.174-0.039l0.006-0.001c0.682-0.082 1.242-0.533 1.479-1.144l0.004-0.012c0.056-0.158 0.089-0.341 0.089-0.532 0-0.495-0.22-0.938-0.567-1.238l-0.002-0.002c-0.043-0.039-0.082-0.082-0.117-0.127l-0.002-0.002c-0.763-0.549-1.254-1.434-1.254-2.434s0.491-1.885 1.245-2.428l0.009-0.006c0.036-0.047 0.074-0.088 0.116-0.126l0.001-0.001c0.349-0.302 0.569-0.746 0.569-1.241 0-0.191-0.033-0.374-0.093-0.544l0.004 0.011c-0.241-0.623-0.8-1.074-1.473-1.154l-0.009-0.001c-0.071-0.010-0.134-0.025-0.194-0.044l0.009 0.002c-2.4-0.41-3.464-1.739-3.144-3.955 0-0 0-0.001 0-0.001 0-0.056 0.005-0.111 0.014-0.164l-0.001 0.006c0.016-0.087 0.025-0.186 0.025-0.288 0-0.584-0.301-1.098-0.756-1.394l-0.006-0.004c-0.3-0.198-0.668-0.316-1.064-0.316-0.306 0-0.596 0.071-0.853 0.196l0.012-0.005c-0.047 0.023-0.104 0.045-0.163 0.063l-0.009 0.002c-0.566 0.297-1.236 0.471-1.947 0.471-0.353 0-0.695-0.043-1.023-0.124l0.029 0.006c-0.961-0.322-1.732-0.993-2.177-1.859l-0.010-0.021c-0.031-0.039-0.060-0.082-0.085-0.128l-0.003-0.005c-0.332-0.568-0.94-0.944-1.635-0.944s-1.303 0.376-1.63 0.935l-0.005 0.009c-0.030 0.054-0.062 0.1-0.096 0.143l0.002-0.002c-0.458 0.88-1.226 1.546-2.156 1.859l-0.027 0.008c-0.298 0.075-0.641 0.117-0.993 0.117-0.712 0-1.383-0.175-1.973-0.484l0.023 0.011c-0.067-0.020-0.123-0.042-0.178-0.067l0.008 0.003c-0.246-0.12-0.536-0.191-0.841-0.191-0.396 0-0.764 0.118-1.072 0.32l0.007-0.005c-0.462 0.301-0.763 0.815-0.763 1.399 0 0.102 0.009 0.201 0.027 0.298l-0.002-0.010c0.008 0.047 0.013 0.101 0.013 0.156 0 0.001 0 0.003 0 0.004v-0c0.32 2.218-0.742 3.549-3.142 3.958-0.051 0.017-0.114 0.031-0.177 0.041l-0.007 0.001c-0.682 0.082-1.242 0.533-1.479 1.144l-0.004 0.012c-0.056 0.158-0.089 0.341-0.089 0.532 0 0.495 0.22 0.938 0.567 1.238l0.002 0.002c0.044 0.040 0.084 0.083 0.12 0.129l0.002 0.002c0.762 0.549 1.253 1.434 1.253 2.433s-0.49 1.884-1.244 2.427l-0.009 0.006c-0.036 0.048-0.075 0.091-0.118 0.129l-0.001 0.001c-0.349 0.302-0.569 0.745-0.569 1.24 0 0.19 0.032 0.373 0.092 0.543l-0.003-0.011c0.241 0.624 0.801 1.075 1.475 1.156l0.009 0.001c0.070 0.010 0.132 0.024 0.192 0.044l-0.008-0.002c2.4 0.41 3.466 1.739 3.142 3.957 0 0.003 0 0.007 0 0.011 0 0.052-0.005 0.104-0.014 0.154l0.001-0.005c-0.016 0.087-0.025 0.186-0.025 0.288 0 0.584 0.301 1.098 0.756 1.394l0.006 0.004c0.3 0.198 0.668 0.317 1.064 0.317 0.306 0 0.596-0.071 0.854-0.197l-0.011 0.005c0.048-0.023 0.106-0.046 0.166-0.063l0.009-0.002c0.566-0.299 1.237-0.474 1.949-0.474 0.349 0 0.689 0.042 1.013 0.122l-0.029-0.006c0.959 0.323 1.728 0.992 2.174 1.856l0.010 0.021z"></path></svg>
                                                    </span>
                                                </div>
                                                <div class="uf__post__date fs-14">Posted On <span class="uf__post__date-wrap">@item.DateCreated</span></div>
                                            </div>
                                        </div>
                                        <!--post element: text-->
                                        <div class="uf__post__text uf__post__elem">
                                            @item.Text
                                        </div>
                                        <!--post element: image-->
                                        <div class="uf__post__image uf__post__elem" data-image-count="even" data-gallery="2">
                                            <a href="~/Socialnetwork/img/post-img.png">
                                                <img src="~/Socialnetwork/img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                            </a>
                                            <a href="~/Socialnetwork/img/post-img.png">
                                                <img src="~/Socialnetwork/img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                            </a>
                                            <div class="ctA mt-3">
                                                <a href="#" class="btn btn-light">View Post</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else if (ViewData["DataSearch"] == "all")
                            {
                                @foreach (var item in Model.Data.Users.Results)
                                {
                                    <!--search result start: result type -> group 1-->
                                    <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                        <!--postmeta-->
                                        <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                            <div class="uf__post__author-img">
                                                <img src="~/Socialnetwork/img/img-pp.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="ml-3">
                                                <div class="uf__post__author-title h5">
                                                    @*<a href="/Profile/Index/@item.Email" class="text-dark h5">@item.FullName</a>*@
                                                    <form asp-controller="Profile" asp-action="Index" method="get" >
                   
                                                        <button name="email" class="btn-link btn-user-profile"  onchange="this.form.submit()" value="@item.Email">@item.FullName</button>
                                                    </form>
                                                </div>
                                                <div class="fs-14 text-muted">
                                                    <div class="search-result__item__type">
                                                        <span>Status</span>
                                                        <span> - </span>
                                                        <span class=""> @item.Status</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ctA ml-auto">
                                                <a href="#" class="btn btn-light">
                                                    <span class="icon mr-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"><path id="plus" d="M31,978.362a.208.208,0,0,0-.208.208v4.583H26.208a.208.208,0,1,0,0,.417h4.583v4.583a.208.208,0,0,0,.417,0V983.57h4.583a.208.208,0,1,0,0-.417H31.208V978.57A.208.208,0,0,0,31,978.362Z" transform="translate(-25.5 -977.862)" fill="#3d3d3d" stroke="#3d3d3d" stroke-width="1" /></svg>
                                                    </span>
                                                    Add Friend
                                                </a>
                                            </div>
                                        </div>
                                        <!--post element: text-->
                                        <div class="uf__post__text uf__post__elem">
                                            <p class="mb-1">Email <a href="#">@item.Email</a></p>
                                            <p class="mb-0">PhoneNumber <a href="#">@item.PhoneNumber</a></p>
                                        </div>
                                        <div class="uf__post__text uf__post__elem">
                                            <a href="/Profile/Index/@item.Email" class="btn btn-light d-inline-flex justify-content-between align-items-center">
                                                <span>Visit Profile</span>
                                                <span class="icon ml-2"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><title>share</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.8811" stroke="#000" fill="#000" d="M1.842 31.059c-0.002 0-0.004 0-0.006 0-0.406 0-0.74-0.307-0.782-0.702l-0-0.003c-0.201-2.304-0.448-10.269 4.819-15.843 3.352-3.55 8.277-5.408 14.637-5.517v-7.308c0.002-0.288 0.172-0.536 0.417-0.651l0.004-0.002c0.094-0.046 0.206-0.073 0.323-0.073 0.176 0 0.339 0.061 0.467 0.162l-0.002-0.001 16.793 13.612c0.163 0.131 0.266 0.331 0.266 0.555s-0.103 0.424-0.265 0.554l-0.001 0.001-16.778 13.601c-0.13 0.11-0.299 0.176-0.484 0.176-0.116 0-0.226-0.026-0.324-0.073l0.005 0.002c-0.254-0.116-0.427-0.367-0.427-0.659 0-0.004 0-0.007 0-0.011v0.001-7.44c0-0 0-0 0-0.001 0-0.044-0.033-0.080-0.075-0.086l-0-0c-2.242-0.393-10.183-0.882-17.946 9.368-0.145 0.203-0.379 0.334-0.643 0.337h-0zM21.582 10.030c-0.115 0.111-0.271 0.179-0.443 0.179-0.002 0-0.003 0-0.004 0h0c-6.302 0-11.121 1.723-14.334 5.132-2.861 3.364-4.6 7.757-4.6 12.558 0 0.398 0.012 0.793 0.036 1.185l-0.003-0.054c7.957-9.81 16.067-9.295 18.418-8.877 0.631 0.1 1.108 0.637 1.116 1.286v6.383l15.463-12.538-15.463-12.532v6.842c0 0.001 0 0.001 0 0.002 0 0.17-0.071 0.324-0.184 0.434l-0 0z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                    <!--search result 1-->
                                    <!--search result start: result type -> post 1-->
                                    <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                        <!--postmeta-->
                                        <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                            <div class="uf__post__author-img">
                                                <img src="~/Socialnetwork/img/img-pp.png" alt="" class="img-fluid">
                                            </div>

                                            <div class="ml-3">
                                                <div class="uf__post__author-title h5">
                                                    <a href="#" class="text-dark h5">Robin Sons</a>
                                                </div>
                                                <div class="fs-14 text-muted">
                                                    <div class="search-result__item__type">
                                                        <span>Page</span>
                                                        <span> - </span>
                                                        <span class=""> 38k Likes</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ctA ml-auto">
                                                <a href="#" class="btn btn-light">
                                                    <span class="icon icon--like mr-1">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 32"><title>like</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.7691" stroke="#000" fill="#000" d="M3.054 13.736h6.832c1.197 0.003 2.167 0.973 2.169 2.171v12.915c-0.003 1.197-0.972 2.166-2.169 2.169h-6.833c-1.198-0.003-2.168-0.974-2.169-2.172v-12.915c0.004-1.196 0.973-2.164 2.169-2.167h0zM9.884 14.797h-6.831c-0.611 0.003-1.106 0.498-1.109 1.109v12.915c0.003 0.611 0.498 1.106 1.109 1.109h6.833c0.611-0.003 1.106-0.498 1.109-1.109v-12.915c-0.003-0.611-0.498-1.106-1.109-1.109h-0z"></path><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.7691" stroke="#000" fill="#000" d="M11.199 14.871c-0.151 0.095-0.25 0.261-0.25 0.45 0 0.293 0.238 0.531 0.531 0.531 0.062 0 0.122-0.011 0.177-0.030l-0.004 0.001c0.023-0.011 7.276-3.37 6.215-13.746 1.467-0.267 6.165-0.373 4.129 9.944v0c-0.006 0.030-0.010 0.065-0.010 0.1 0 0.293 0.238 0.531 0.531 0.531 0.039 0 0.077-0.004 0.114-0.012l-0.003 0.001c0.872-0.111 14.523-1.769 10.153 4.934v0c-0.054 0.082-0.086 0.182-0.086 0.289 0 0.138 0.053 0.264 0.139 0.358l-0-0c0.393 0.393 0.636 0.936 0.636 1.535 0 0.896-0.542 1.665-1.317 1.997l-0.014 0.005c-0.178 0.088-0.297 0.269-0.297 0.477 0 0.067 0.012 0.131 0.035 0.19l-0.001-0.004c0.073 0.216 0.863 2.728-0.996 3.524v0c-0.19 0.084-0.32 0.27-0.32 0.487 0 0.015 0.001 0.030 0.002 0.046l-0-0.002c0 0.437-0.119 3.943-3.085 3.538v0c-0.012-0.001-0.026-0.002-0.041-0.002s-0.029 0.001-0.043 0.002l0.002-0h-12.888l-2.742-1.511c-0.082-0.055-0.184-0.088-0.293-0.088-0.293 0-0.531 0.238-0.531 0.531 0 0.215 0.128 0.4 0.311 0.483l0.003 0.001 2.831 1.557c0.080 0.051 0.178 0.081 0.282 0.081 0 0 0 0 0.001 0h13.003c3.655 0.463 4.152-3.163 4.219-4.308 0.972-0.675 1.6-1.785 1.6-3.042 0-0.439-0.077-0.86-0.217-1.251l0.008 0.026c0.962-0.521 1.604-1.522 1.604-2.674 0-0.758-0.278-1.451-0.739-1.983l0.003 0.004c4.54-7.423-7.561-6.641-10.693-6.325 2.238-12.662-5.467-10.523-5.997-10.36-0.233 0.060-0.402 0.268-0.402 0.515 0 0.022 0.001 0.045 0.004 0.066l-0-0.003c1.238 9.985-5.539 13.125-5.559 13.134z"></path></svg>
                                                    </span>
                                                    Like
                                                </a>
                                            </div>

                                        </div>
                                        <!--post element: text-->
                                        <div class="uf__post__text uf__post__elem">
                                            <p class="mb-0">
                                                Designers might be great at designing beautiful work, but if they don’t have sufficient knowledge about design and how it works with people, their work won’t have the impact they want.
                                                Books can be a great resource for the knowledge.
                                            </p>
                                        </div>
                                        <div class="uf__post__text uf__post__elem">
                                            <a href="#" class="btn btn-light d-inline-flex justify-content-between align-items-center">
                                                <span>Visit Page</span>
                                                <span class="icon ml-2"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><title>share</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.8811" stroke="#000" fill="#000" d="M1.842 31.059c-0.002 0-0.004 0-0.006 0-0.406 0-0.74-0.307-0.782-0.702l-0-0.003c-0.201-2.304-0.448-10.269 4.819-15.843 3.352-3.55 8.277-5.408 14.637-5.517v-7.308c0.002-0.288 0.172-0.536 0.417-0.651l0.004-0.002c0.094-0.046 0.206-0.073 0.323-0.073 0.176 0 0.339 0.061 0.467 0.162l-0.002-0.001 16.793 13.612c0.163 0.131 0.266 0.331 0.266 0.555s-0.103 0.424-0.265 0.554l-0.001 0.001-16.778 13.601c-0.13 0.11-0.299 0.176-0.484 0.176-0.116 0-0.226-0.026-0.324-0.073l0.005 0.002c-0.254-0.116-0.427-0.367-0.427-0.659 0-0.004 0-0.007 0-0.011v0.001-7.44c0-0 0-0 0-0.001 0-0.044-0.033-0.080-0.075-0.086l-0-0c-2.242-0.393-10.183-0.882-17.946 9.368-0.145 0.203-0.379 0.334-0.643 0.337h-0zM21.582 10.030c-0.115 0.111-0.271 0.179-0.443 0.179-0.002 0-0.003 0-0.004 0h0c-6.302 0-11.121 1.723-14.334 5.132-2.861 3.364-4.6 7.757-4.6 12.558 0 0.398 0.012 0.793 0.036 1.185l-0.003-0.054c7.957-9.81 16.067-9.295 18.418-8.877 0.631 0.1 1.108 0.637 1.116 1.286v6.383l15.463-12.538-15.463-12.532v6.842c0 0.001 0 0.001 0 0.002 0 0.17-0.071 0.324-0.184 0.434l-0 0z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                    <!--search result 1-->
                                    <!--search result start: result type -> people 1-->
                                    <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                        <!--postmeta-->
                                        <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                            <div class="uf__post__author-img">
                                                <img src="img/elon.png" alt="" class="img-fluid">
                                            </div>

                                            <div class="ml-3">
                                                <div class="uf__post__author-title h5">
                                                    <a href="#" class="text-dark h5">Elon Musk</a>
                                                </div>
                                                <div class="fs-14 text-muted">
                                                    <div class="search-result__item__type">
                                                        <span>From</span>
                                                        <span> - </span>
                                                        <span class=""> New York </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ctA ml-auto">
                                                <a href="#" class="btn btn-light">
                                                    <span class="icon icon--add-friend mr-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.65" height="11.3" viewBox="0 0 16.65 11.3"><g id="icon" transform="translate(0.15 0.15)"><path id="Path_70" data-name="Path 70" d="M43.852,41.218a.322.322,0,0,1-.638,0c0-2.09-1.75-3.1-4.788-3.1s-4.788,1.012-4.788,3.1a.322.322,0,0,1-.638,0c0-2.464,2.079-3.667,5.426-3.667S43.852,38.754,43.852,41.218Zm-5.426-4.231c-1.659,0-2.873-1.655-2.873-3.385a2.881,2.881,0,1,1,5.745,0C41.3,35.332,40.085,36.987,38.426,36.987Zm0-.564c1.234,0,2.234-1.365,2.234-2.821a2.252,2.252,0,1,0-4.468,0C36.192,35.058,37.192,36.423,38.426,36.423Z" transform="translate(-33 -30.5)" fill="#454545" stroke="#454545" stroke-width="0.3"></path><g id="plus" transform="translate(10 2.115)"><line id="Line_114" data-name="Line 114" x2="6" transform="translate(0 3)" fill="none" stroke="#3d3d3d" stroke-linecap="round" stroke-width="1"></line><line id="Line_115" data-name="Line 115" y2="6" transform="translate(3)" fill="none" stroke="#3d3d3d" stroke-linecap="round" stroke-width="1"></line></g></g></svg>
                                                    </span>
                                                    Add Friend
                                                </a>
                                            </div>

                                        </div>
                                        <!--post element: text-->
                                        <div class="uf__post__text uf__post__elem">
                                            <p class="mb-1">Works At <a href="#">Tesla</a></p>
                                            <p class="mb-0">Graduated from <a href="#">Harvard University</a></p>
                                        </div>
                                        <div class="uf__post__text uf__post__elem">
                                            <a href="#" class="btn btn-light d-inline-flex justify-content-between align-items-center">
                                                <span>Visit Profile</span>
                                                <span class="icon ml-2"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><title>share</title><path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.8811" stroke="#000" fill="#000" d="M1.842 31.059c-0.002 0-0.004 0-0.006 0-0.406 0-0.74-0.307-0.782-0.702l-0-0.003c-0.201-2.304-0.448-10.269 4.819-15.843 3.352-3.55 8.277-5.408 14.637-5.517v-7.308c0.002-0.288 0.172-0.536 0.417-0.651l0.004-0.002c0.094-0.046 0.206-0.073 0.323-0.073 0.176 0 0.339 0.061 0.467 0.162l-0.002-0.001 16.793 13.612c0.163 0.131 0.266 0.331 0.266 0.555s-0.103 0.424-0.265 0.554l-0.001 0.001-16.778 13.601c-0.13 0.11-0.299 0.176-0.484 0.176-0.116 0-0.226-0.026-0.324-0.073l0.005 0.002c-0.254-0.116-0.427-0.367-0.427-0.659 0-0.004 0-0.007 0-0.011v0.001-7.44c0-0 0-0 0-0.001 0-0.044-0.033-0.080-0.075-0.086l-0-0c-2.242-0.393-10.183-0.882-17.946 9.368-0.145 0.203-0.379 0.334-0.643 0.337h-0zM21.582 10.030c-0.115 0.111-0.271 0.179-0.443 0.179-0.002 0-0.003 0-0.004 0h0c-6.302 0-11.121 1.723-14.334 5.132-2.861 3.364-4.6 7.757-4.6 12.558 0 0.398 0.012 0.793 0.036 1.185l-0.003-0.054c7.957-9.81 16.067-9.295 18.418-8.877 0.631 0.1 1.108 0.637 1.116 1.286v6.383l15.463-12.538-15.463-12.532v6.842c0 0.001 0 0.001 0 0.002 0 0.17-0.071 0.324-0.184 0.434l-0 0z"></path></svg></span>
                                            </a>
                                        </div>
                                    </div>
                                    <!--search result 1-->
                                    <!--search result start: result type -> post 1-->
                                    <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                        <!--postmeta-->
                                        <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                            <div class="uf__post__author-img">
                                                <img src="img/img-pp.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="ml-3">
                                                <div class="uf__post__author-title h5">
                                                    <a href="#" class="text-dark h5">Robin Sons</a>
                                                    <span class="varified-badge ml-3" data-isVarified="false">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34" height="32" viewBox="0 0 34 32"><title>checkmark</title><path d="M15.68 21c-0.003 0-0.006 0-0.010 0-0.275 0-0.528-0.093-0.731-0.248l0.003 0.002c-0.233-0.17-0.383-0.443-0.383-0.75 0-0.259 0.106-0.493 0.277-0.661l0-0 7.84-8c0.218-0.212 0.516-0.343 0.845-0.343 0.278 0 0.534 0.093 0.738 0.251l-0.003-0.002c0.233 0.171 0.382 0.443 0.382 0.75 0 0.259-0.106 0.492-0.276 0.661l-0 0-7.84 8c-0.214 0.211-0.507 0.341-0.831 0.341-0.004 0-0.008-0-0.013-0h0.001z"></path><path d="M15.682 21c-0.005 0-0.012 0-0.019 0-0.3 0-0.574-0.111-0.783-0.294l0.001 0.001-4.48-4c-0.202-0.171-0.329-0.424-0.329-0.707s0.127-0.536 0.328-0.706l0.001-0.001c0.211-0.182 0.489-0.293 0.792-0.293s0.581 0.111 0.794 0.295l-0.002-0.001 4.48 4c0.202 0.171 0.329 0.424 0.329 0.707s-0.127 0.536-0.328 0.706l-0.001 0.001c-0.208 0.182-0.482 0.293-0.781 0.293-0.001 0-0.002 0-0.003 0h0z"></path><path d="M16.803 32c-0.020 0-0.044 0.001-0.068 0.001-1.454 0-2.734-0.75-3.472-1.884l-0.010-0.016c-0.035-0.043-0.068-0.090-0.097-0.14l-0.003-0.005c-0.222-0.4-0.568-0.901-0.96-1.013-0.075-0.009-0.161-0.014-0.249-0.014-0.419 0-0.81 0.118-1.143 0.322l0.009-0.005c-0.051 0.025-0.113 0.048-0.176 0.065l-0.008 0.002c-0.5 0.215-1.082 0.34-1.694 0.34-0.895 0-1.727-0.268-2.422-0.728l0.016 0.010c-1.004-0.643-1.66-1.753-1.66-3.016 0-0.142 0.008-0.282 0.024-0.419l-0.002 0.017c-0-0.004-0-0.008-0-0.013 0-0.052 0.005-0.103 0.014-0.153l-0.001 0.005c0.226-1.306-0.061-1.674-1.459-1.875-0.075-0.011-0.14-0.027-0.204-0.047l0.009 0.002c-1.408-0.238-2.547-1.192-3.044-2.467l-0.009-0.027c-0.122-0.34-0.193-0.732-0.193-1.14 0-0.978 0.405-1.862 1.058-2.492l0.001-0.001c0.038-0.050 0.078-0.095 0.122-0.135l0.001-0.001c1.010-0.926 1.010-1.406 0-2.331-0.046-0.041-0.087-0.086-0.123-0.135l-0.002-0.002c-0.652-0.631-1.057-1.514-1.057-2.492 0-0.409 0.071-0.801 0.201-1.164l-0.008 0.024c0.507-1.303 1.647-2.256 3.033-2.49l0.023-0.003c0.055-0.018 0.119-0.033 0.186-0.043l0.006-0.001c1.397-0.203 1.683-0.571 1.459-1.877-0.007-0.046-0.011-0.1-0.011-0.155 0-0.005 0-0.010 0-0.016v0.001c-0.015-0.122-0.023-0.264-0.023-0.407 0-1.263 0.656-2.373 1.646-3.008l0.014-0.009c0.678-0.45 1.511-0.717 2.406-0.717 0.614 0 1.199 0.126 1.73 0.354l-0.029-0.011c0.070 0.020 0.129 0.043 0.186 0.069l-0.008-0.003c0.323 0.199 0.715 0.317 1.133 0.317 0.088 0 0.174-0.005 0.259-0.015l-0.010 0.001c0.386-0.112 0.733-0.613 0.96-1.013 0.032-0.056 0.064-0.104 0.101-0.149l-0.002 0.002c0.776-1.151 2.076-1.898 3.549-1.898 1.477 0 2.779 0.751 3.545 1.891l0.010 0.015c0.033 0.041 0.065 0.086 0.092 0.134l0.003 0.005c0.222 0.4 0.57 0.901 0.96 1.013 0.074 0.009 0.161 0.014 0.248 0.014 0.419 0 0.811-0.118 1.144-0.322l-0.010 0.005c0.050-0.024 0.11-0.047 0.173-0.065l0.008-0.002c0.502-0.216 1.086-0.342 1.7-0.342 0.895 0 1.727 0.267 2.421 0.727l-0.016-0.010c1.004 0.645 1.659 1.755 1.659 3.019 0 0.14-0.008 0.278-0.024 0.414l0.002-0.017c0 0.006 0 0.012 0 0.019 0 0.053-0.005 0.105-0.014 0.156l0.001-0.005c-0.226 1.306 0.061 1.674 1.459 1.877 0.074 0.011 0.14 0.026 0.204 0.046l-0.009-0.002c1.408 0.237 2.548 1.191 3.045 2.466l0.009 0.027c0.122 0.34 0.193 0.732 0.193 1.141 0 0.98-0.406 1.864-1.059 2.495l-0.001 0.001c-0.038 0.050-0.078 0.094-0.121 0.134l-0.001 0.001c-1.008 0.926-1.008 1.406 0 2.333 0.045 0.042 0.086 0.086 0.123 0.134l0.002 0.002c0.652 0.631 1.057 1.515 1.057 2.493 0 0.409-0.071 0.801-0.201 1.165l0.008-0.024c-0.506 1.304-1.647 2.258-3.033 2.491l-0.023 0.003c-0.055 0.019-0.119 0.035-0.186 0.044l-0.006 0.001c-1.397 0.202-1.683 0.57-1.458 1.875 0.008 0.046 0.013 0.099 0.013 0.154 0 0.007-0 0.015-0 0.022l0-0.001c0.014 0.119 0.022 0.257 0.022 0.397 0 1.262-0.655 2.372-1.645 3.006l-0.014 0.009c-0.678 0.451-1.511 0.719-2.407 0.719-0.613 0-1.196-0.126-1.726-0.353l0.029 0.011c-0.071-0.021-0.131-0.043-0.189-0.070l0.008 0.003c-0.324-0.199-0.716-0.316-1.136-0.316-0.087 0-0.173 0.005-0.257 0.015l0.010-0.001c-0.387 0.11-0.733 0.611-0.96 1.013-0.030 0.054-0.061 0.101-0.096 0.144l0.001-0.002c-0.749 1.152-2.030 1.903-3.487 1.903-0.026 0-0.052-0-0.077-0.001l0.004 0zM15.075 28.917c0.033 0.041 0.063 0.086 0.090 0.134l0.003 0.005c0.332 0.568 0.94 0.944 1.635 0.944s1.303-0.376 1.63-0.935l0.005-0.009c0.029-0.052 0.059-0.096 0.093-0.138l-0.001 0.002c0.455-0.886 1.224-1.556 2.156-1.872l0.027-0.008c0.299-0.075 0.643-0.119 0.996-0.119 0.71 0 1.38 0.175 1.968 0.483l-0.023-0.011c0.067 0.020 0.124 0.042 0.178 0.069l-0.007-0.003c0.246 0.12 0.535 0.19 0.84 0.19 0.396 0 0.765-0.118 1.073-0.321l-0.007 0.005c0.462-0.3 0.763-0.813 0.763-1.397 0-0.102-0.009-0.202-0.027-0.299l0.002 0.010c-0.008-0.044-0.013-0.095-0.013-0.146 0-0.005 0-0.010 0-0.014v0.001c-0.32-2.214 0.738-3.542 3.147-3.952 0.051-0.016 0.112-0.030 0.174-0.039l0.006-0.001c0.682-0.082 1.242-0.533 1.479-1.144l0.004-0.012c0.056-0.158 0.089-0.341 0.089-0.532 0-0.495-0.22-0.938-0.567-1.238l-0.002-0.002c-0.043-0.039-0.082-0.082-0.117-0.127l-0.002-0.002c-0.763-0.549-1.254-1.434-1.254-2.434s0.491-1.885 1.245-2.428l0.009-0.006c0.036-0.047 0.074-0.088 0.116-0.126l0.001-0.001c0.349-0.302 0.569-0.746 0.569-1.241 0-0.191-0.033-0.374-0.093-0.544l0.004 0.011c-0.241-0.623-0.8-1.074-1.473-1.154l-0.009-0.001c-0.071-0.010-0.134-0.025-0.194-0.044l0.009 0.002c-2.4-0.41-3.464-1.739-3.144-3.955 0-0 0-0.001 0-0.001 0-0.056 0.005-0.111 0.014-0.164l-0.001 0.006c0.016-0.087 0.025-0.186 0.025-0.288 0-0.584-0.301-1.098-0.756-1.394l-0.006-0.004c-0.3-0.198-0.668-0.316-1.064-0.316-0.306 0-0.596 0.071-0.853 0.196l0.012-0.005c-0.047 0.023-0.104 0.045-0.163 0.063l-0.009 0.002c-0.566 0.297-1.236 0.471-1.947 0.471-0.353 0-0.695-0.043-1.023-0.124l0.029 0.006c-0.961-0.322-1.732-0.993-2.177-1.859l-0.010-0.021c-0.031-0.039-0.060-0.082-0.085-0.128l-0.003-0.005c-0.332-0.568-0.94-0.944-1.635-0.944s-1.303 0.376-1.63 0.935l-0.005 0.009c-0.030 0.054-0.062 0.1-0.096 0.143l0.002-0.002c-0.458 0.88-1.226 1.546-2.156 1.859l-0.027 0.008c-0.298 0.075-0.641 0.117-0.993 0.117-0.712 0-1.383-0.175-1.973-0.484l0.023 0.011c-0.067-0.020-0.123-0.042-0.178-0.067l0.008 0.003c-0.246-0.12-0.536-0.191-0.841-0.191-0.396 0-0.764 0.118-1.072 0.32l0.007-0.005c-0.462 0.301-0.763 0.815-0.763 1.399 0 0.102 0.009 0.201 0.027 0.298l-0.002-0.010c0.008 0.047 0.013 0.101 0.013 0.156 0 0.001 0 0.003 0 0.004v-0c0.32 2.218-0.742 3.549-3.142 3.958-0.051 0.017-0.114 0.031-0.177 0.041l-0.007 0.001c-0.682 0.082-1.242 0.533-1.479 1.144l-0.004 0.012c-0.056 0.158-0.089 0.341-0.089 0.532 0 0.495 0.22 0.938 0.567 1.238l0.002 0.002c0.044 0.040 0.084 0.083 0.12 0.129l0.002 0.002c0.762 0.549 1.253 1.434 1.253 2.433s-0.49 1.884-1.244 2.427l-0.009 0.006c-0.036 0.048-0.075 0.091-0.118 0.129l-0.001 0.001c-0.349 0.302-0.569 0.745-0.569 1.24 0 0.19 0.032 0.373 0.092 0.543l-0.003-0.011c0.241 0.624 0.801 1.075 1.475 1.156l0.009 0.001c0.070 0.010 0.132 0.024 0.192 0.044l-0.008-0.002c2.4 0.41 3.466 1.739 3.142 3.957 0 0.003 0 0.007 0 0.011 0 0.052-0.005 0.104-0.014 0.154l0.001-0.005c-0.016 0.087-0.025 0.186-0.025 0.288 0 0.584 0.301 1.098 0.756 1.394l0.006 0.004c0.3 0.198 0.668 0.317 1.064 0.317 0.306 0 0.596-0.071 0.854-0.197l-0.011 0.005c0.048-0.023 0.106-0.046 0.166-0.063l0.009-0.002c0.566-0.299 1.237-0.474 1.949-0.474 0.349 0 0.689 0.042 1.013 0.122l-0.029-0.006c0.959 0.323 1.728 0.992 2.174 1.856l0.010 0.021z"></path></svg>
                                                    </span>
                                                </div>
                                                <div class="uf__post__date fs-14">Posted On <span class="uf__post__date-wrap">Mar 22, 2019</span></div>
                                            </div>
                                        </div>
                                        <!--post element: text-->
                                        <div class="uf__post__text uf__post__elem">
                                            <p>
                                                Designers might be great at designing beautiful work, but if they don’t have sufficient knowledge about design and how it works with people, their work won’t have the impact they want.
                                                Books can be a great resource for the knowledge.
                                            </p>

                                            <p>This is my desk with some of my favorite books 😍</p>

                                            <p>Books are:</p>
                                        </div>
                                        <!--post element: image-->
                                        <div class="uf__post__image uf__post__elem" data-image-count="even" data-gallery="2">
                                            <a href="img/post-img.png">
                                                <img src="img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                            </a>
                                            <a href="img/post-img.png">
                                                <img src="img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                            </a>

                                            <div class="ctA mt-3">
                                                <a href="#" class="btn btn-light">View Post</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--feed post end 1-->
                                    <!--search result start: result type -> people 1-->
                                    <div class="search-result__item p-4 mt-4 mb-5 text-center">
                                        <div class="ctA">
                                            <a href="#" class="btn btn-light">
                                                Load More
                                            </a>
                                        </div>
                                    </div>
                                    <!--search result 1-->
                                }
                                @foreach (var item in Model.Data.Posts.Results)
                                {
                                    <div class="search-result__item uf__post card bg-white border-light p-4 mt-4 mb-5">
                                        <!--postmeta-->
                                        <div class="uf__post__meta d-flex justify-content-start align-items-center">
                                            <div class="uf__post__author-img">
                                                <img src="~/Socialnetwork/img/img-pp.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="ml-3">
                                                <div class="uf__post__author-title h5">
                                                    <a href="#" class="text-dark h5">@item.Name</a>
                                                    <span class="varified-badge ml-3" data-isVarified="false">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34" height="32" viewBox="0 0 34 32"><title>checkmark</title><path d="M15.68 21c-0.003 0-0.006 0-0.010 0-0.275 0-0.528-0.093-0.731-0.248l0.003 0.002c-0.233-0.17-0.383-0.443-0.383-0.75 0-0.259 0.106-0.493 0.277-0.661l0-0 7.84-8c0.218-0.212 0.516-0.343 0.845-0.343 0.278 0 0.534 0.093 0.738 0.251l-0.003-0.002c0.233 0.171 0.382 0.443 0.382 0.75 0 0.259-0.106 0.492-0.276 0.661l-0 0-7.84 8c-0.214 0.211-0.507 0.341-0.831 0.341-0.004 0-0.008-0-0.013-0h0.001z"></path><path d="M15.682 21c-0.005 0-0.012 0-0.019 0-0.3 0-0.574-0.111-0.783-0.294l0.001 0.001-4.48-4c-0.202-0.171-0.329-0.424-0.329-0.707s0.127-0.536 0.328-0.706l0.001-0.001c0.211-0.182 0.489-0.293 0.792-0.293s0.581 0.111 0.794 0.295l-0.002-0.001 4.48 4c0.202 0.171 0.329 0.424 0.329 0.707s-0.127 0.536-0.328 0.706l-0.001 0.001c-0.208 0.182-0.482 0.293-0.781 0.293-0.001 0-0.002 0-0.003 0h0z"></path><path d="M16.803 32c-0.020 0-0.044 0.001-0.068 0.001-1.454 0-2.734-0.75-3.472-1.884l-0.010-0.016c-0.035-0.043-0.068-0.090-0.097-0.14l-0.003-0.005c-0.222-0.4-0.568-0.901-0.96-1.013-0.075-0.009-0.161-0.014-0.249-0.014-0.419 0-0.81 0.118-1.143 0.322l0.009-0.005c-0.051 0.025-0.113 0.048-0.176 0.065l-0.008 0.002c-0.5 0.215-1.082 0.34-1.694 0.34-0.895 0-1.727-0.268-2.422-0.728l0.016 0.010c-1.004-0.643-1.66-1.753-1.66-3.016 0-0.142 0.008-0.282 0.024-0.419l-0.002 0.017c-0-0.004-0-0.008-0-0.013 0-0.052 0.005-0.103 0.014-0.153l-0.001 0.005c0.226-1.306-0.061-1.674-1.459-1.875-0.075-0.011-0.14-0.027-0.204-0.047l0.009 0.002c-1.408-0.238-2.547-1.192-3.044-2.467l-0.009-0.027c-0.122-0.34-0.193-0.732-0.193-1.14 0-0.978 0.405-1.862 1.058-2.492l0.001-0.001c0.038-0.050 0.078-0.095 0.122-0.135l0.001-0.001c1.010-0.926 1.010-1.406 0-2.331-0.046-0.041-0.087-0.086-0.123-0.135l-0.002-0.002c-0.652-0.631-1.057-1.514-1.057-2.492 0-0.409 0.071-0.801 0.201-1.164l-0.008 0.024c0.507-1.303 1.647-2.256 3.033-2.49l0.023-0.003c0.055-0.018 0.119-0.033 0.186-0.043l0.006-0.001c1.397-0.203 1.683-0.571 1.459-1.877-0.007-0.046-0.011-0.1-0.011-0.155 0-0.005 0-0.010 0-0.016v0.001c-0.015-0.122-0.023-0.264-0.023-0.407 0-1.263 0.656-2.373 1.646-3.008l0.014-0.009c0.678-0.45 1.511-0.717 2.406-0.717 0.614 0 1.199 0.126 1.73 0.354l-0.029-0.011c0.070 0.020 0.129 0.043 0.186 0.069l-0.008-0.003c0.323 0.199 0.715 0.317 1.133 0.317 0.088 0 0.174-0.005 0.259-0.015l-0.010 0.001c0.386-0.112 0.733-0.613 0.96-1.013 0.032-0.056 0.064-0.104 0.101-0.149l-0.002 0.002c0.776-1.151 2.076-1.898 3.549-1.898 1.477 0 2.779 0.751 3.545 1.891l0.010 0.015c0.033 0.041 0.065 0.086 0.092 0.134l0.003 0.005c0.222 0.4 0.57 0.901 0.96 1.013 0.074 0.009 0.161 0.014 0.248 0.014 0.419 0 0.811-0.118 1.144-0.322l-0.010 0.005c0.050-0.024 0.11-0.047 0.173-0.065l0.008-0.002c0.502-0.216 1.086-0.342 1.7-0.342 0.895 0 1.727 0.267 2.421 0.727l-0.016-0.010c1.004 0.645 1.659 1.755 1.659 3.019 0 0.14-0.008 0.278-0.024 0.414l0.002-0.017c0 0.006 0 0.012 0 0.019 0 0.053-0.005 0.105-0.014 0.156l0.001-0.005c-0.226 1.306 0.061 1.674 1.459 1.877 0.074 0.011 0.14 0.026 0.204 0.046l-0.009-0.002c1.408 0.237 2.548 1.191 3.045 2.466l0.009 0.027c0.122 0.34 0.193 0.732 0.193 1.141 0 0.98-0.406 1.864-1.059 2.495l-0.001 0.001c-0.038 0.050-0.078 0.094-0.121 0.134l-0.001 0.001c-1.008 0.926-1.008 1.406 0 2.333 0.045 0.042 0.086 0.086 0.123 0.134l0.002 0.002c0.652 0.631 1.057 1.515 1.057 2.493 0 0.409-0.071 0.801-0.201 1.165l0.008-0.024c-0.506 1.304-1.647 2.258-3.033 2.491l-0.023 0.003c-0.055 0.019-0.119 0.035-0.186 0.044l-0.006 0.001c-1.397 0.202-1.683 0.57-1.458 1.875 0.008 0.046 0.013 0.099 0.013 0.154 0 0.007-0 0.015-0 0.022l0-0.001c0.014 0.119 0.022 0.257 0.022 0.397 0 1.262-0.655 2.372-1.645 3.006l-0.014 0.009c-0.678 0.451-1.511 0.719-2.407 0.719-0.613 0-1.196-0.126-1.726-0.353l0.029 0.011c-0.071-0.021-0.131-0.043-0.189-0.070l0.008 0.003c-0.324-0.199-0.716-0.316-1.136-0.316-0.087 0-0.173 0.005-0.257 0.015l0.010-0.001c-0.387 0.11-0.733 0.611-0.96 1.013-0.030 0.054-0.061 0.101-0.096 0.144l0.001-0.002c-0.749 1.152-2.030 1.903-3.487 1.903-0.026 0-0.052-0-0.077-0.001l0.004 0zM15.075 28.917c0.033 0.041 0.063 0.086 0.090 0.134l0.003 0.005c0.332 0.568 0.94 0.944 1.635 0.944s1.303-0.376 1.63-0.935l0.005-0.009c0.029-0.052 0.059-0.096 0.093-0.138l-0.001 0.002c0.455-0.886 1.224-1.556 2.156-1.872l0.027-0.008c0.299-0.075 0.643-0.119 0.996-0.119 0.71 0 1.38 0.175 1.968 0.483l-0.023-0.011c0.067 0.020 0.124 0.042 0.178 0.069l-0.007-0.003c0.246 0.12 0.535 0.19 0.84 0.19 0.396 0 0.765-0.118 1.073-0.321l-0.007 0.005c0.462-0.3 0.763-0.813 0.763-1.397 0-0.102-0.009-0.202-0.027-0.299l0.002 0.010c-0.008-0.044-0.013-0.095-0.013-0.146 0-0.005 0-0.010 0-0.014v0.001c-0.32-2.214 0.738-3.542 3.147-3.952 0.051-0.016 0.112-0.030 0.174-0.039l0.006-0.001c0.682-0.082 1.242-0.533 1.479-1.144l0.004-0.012c0.056-0.158 0.089-0.341 0.089-0.532 0-0.495-0.22-0.938-0.567-1.238l-0.002-0.002c-0.043-0.039-0.082-0.082-0.117-0.127l-0.002-0.002c-0.763-0.549-1.254-1.434-1.254-2.434s0.491-1.885 1.245-2.428l0.009-0.006c0.036-0.047 0.074-0.088 0.116-0.126l0.001-0.001c0.349-0.302 0.569-0.746 0.569-1.241 0-0.191-0.033-0.374-0.093-0.544l0.004 0.011c-0.241-0.623-0.8-1.074-1.473-1.154l-0.009-0.001c-0.071-0.010-0.134-0.025-0.194-0.044l0.009 0.002c-2.4-0.41-3.464-1.739-3.144-3.955 0-0 0-0.001 0-0.001 0-0.056 0.005-0.111 0.014-0.164l-0.001 0.006c0.016-0.087 0.025-0.186 0.025-0.288 0-0.584-0.301-1.098-0.756-1.394l-0.006-0.004c-0.3-0.198-0.668-0.316-1.064-0.316-0.306 0-0.596 0.071-0.853 0.196l0.012-0.005c-0.047 0.023-0.104 0.045-0.163 0.063l-0.009 0.002c-0.566 0.297-1.236 0.471-1.947 0.471-0.353 0-0.695-0.043-1.023-0.124l0.029 0.006c-0.961-0.322-1.732-0.993-2.177-1.859l-0.010-0.021c-0.031-0.039-0.060-0.082-0.085-0.128l-0.003-0.005c-0.332-0.568-0.94-0.944-1.635-0.944s-1.303 0.376-1.63 0.935l-0.005 0.009c-0.030 0.054-0.062 0.1-0.096 0.143l0.002-0.002c-0.458 0.88-1.226 1.546-2.156 1.859l-0.027 0.008c-0.298 0.075-0.641 0.117-0.993 0.117-0.712 0-1.383-0.175-1.973-0.484l0.023 0.011c-0.067-0.020-0.123-0.042-0.178-0.067l0.008 0.003c-0.246-0.12-0.536-0.191-0.841-0.191-0.396 0-0.764 0.118-1.072 0.32l0.007-0.005c-0.462 0.301-0.763 0.815-0.763 1.399 0 0.102 0.009 0.201 0.027 0.298l-0.002-0.010c0.008 0.047 0.013 0.101 0.013 0.156 0 0.001 0 0.003 0 0.004v-0c0.32 2.218-0.742 3.549-3.142 3.958-0.051 0.017-0.114 0.031-0.177 0.041l-0.007 0.001c-0.682 0.082-1.242 0.533-1.479 1.144l-0.004 0.012c-0.056 0.158-0.089 0.341-0.089 0.532 0 0.495 0.22 0.938 0.567 1.238l0.002 0.002c0.044 0.040 0.084 0.083 0.12 0.129l0.002 0.002c0.762 0.549 1.253 1.434 1.253 2.433s-0.49 1.884-1.244 2.427l-0.009 0.006c-0.036 0.048-0.075 0.091-0.118 0.129l-0.001 0.001c-0.349 0.302-0.569 0.745-0.569 1.24 0 0.19 0.032 0.373 0.092 0.543l-0.003-0.011c0.241 0.624 0.801 1.075 1.475 1.156l0.009 0.001c0.070 0.010 0.132 0.024 0.192 0.044l-0.008-0.002c2.4 0.41 3.466 1.739 3.142 3.957 0 0.003 0 0.007 0 0.011 0 0.052-0.005 0.104-0.014 0.154l0.001-0.005c-0.016 0.087-0.025 0.186-0.025 0.288 0 0.584 0.301 1.098 0.756 1.394l0.006 0.004c0.3 0.198 0.668 0.317 1.064 0.317 0.306 0 0.596-0.071 0.854-0.197l-0.011 0.005c0.048-0.023 0.106-0.046 0.166-0.063l0.009-0.002c0.566-0.299 1.237-0.474 1.949-0.474 0.349 0 0.689 0.042 1.013 0.122l-0.029-0.006c0.959 0.323 1.728 0.992 2.174 1.856l0.010 0.021z"></path></svg>
                                                    </span>
                                                </div>
                                                <div class="uf__post__date fs-14">Posted On <span class="uf__post__date-wrap">@item.DateCreated</span></div>
                                            </div>
                                        </div>
                                        <!--post element: text-->
                                        <div class="uf__post__text uf__post__elem">
                                            @item.Text
                                        </div>
                                        <!--post element: image-->
                                        <div class="uf__post__image uf__post__elem" data-image-count="even" data-gallery="2">
                                            <a href="~/Socialnetwork/img/post-img.png">
                                                <img src="~/Socialnetwork/img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                            </a>
                                            <a href="~/Socialnetwork/img/post-img.png">
                                                <img src="~/Socialnetwork/img/post-img.png" alt="" class="img-fluid rounded-sm w-100">
                                            </a>

                                            <div class="ctA mt-3">
                                                <a href="#" class="btn btn-light">View Post</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                                /**/
                            </div>

                            <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                Posts
                            </div>

                            <div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="people-tab">
                                People
                            </div>

                            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                                Photos
                            </div>

                            <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="pages-tab">
                                Pages
                            </div>
                            +
                            <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">
                                Groups
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>
   
        